.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ESTILOS-DEL-NAVBAR




#ESTILOS-DEL-FOOTER

#whatsapp {  
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
svg {
  width: 8rem;
  display: inline-block;
  vertical-align: middle;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}
circle {
  fill: #25d366;
}
path {
    fill:  #fff;
}
#whatsapp a {padding: 20px 0;}
#whatsapp a::before {
    content: 'Consulta';
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    margin-right: .3rem;
    color: rgba(0, 0, 0, .8);
    background: white;
    border: 1px solid #ccc;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
    transition: .3s ease;
    opacity: 0;
}
#whatsapp:hover a::before {opacity: 1;}